<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Dancers - {{ title }}</h1>
    <section>
    {% for dance in dances %}
      <article>
        <h3>{{ dance.name }} <span> {{ dance.level }}</span></h3>
        <h3>Variations({{dance.variations|length}})</h4>
        <ul>
          {% for variation in dance.variations %}
            <li>{{ variation['pre-bronze'] }}</li>
          {% endfor %}
        </ul>
      </article>
    {% endfor %}
  </section>
  <footer>
    <p>
      <a href="" rel="author">Sophie I.</a> Copyright © <script>document.write(new Date().getFullYear());</script>. All Rights Reserved.
    </p>
  </footer>
  </body>
</html>
