<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Dancers - {{ title }}</h1>
    <nav>
      <a href="{{h|host}}/dances/am" class="{{'active' if (title == 'American')}}">American</a>
      <a href="{{h|host}}/dances/intl" class="{{'active' if (title == 'International')}}">International</a>
    </nav>
    <section>
    {% for dance in dances %}
      <article>
        <h2><small>Style:</small> {{ dance.style }}</h2>
        <h3>{{ dance.name }} <span> {{ dance.timing }}</span></h3>
        <p>{{ dance.description }}</p>
        <h4>Levels({{dance.levels|length}})</h4>
        <ul>
          {% for level in dance.levels %}
            <li>{{ level }}</li>
          {% endfor %}
        </ul>
      </article>
    {% endfor %}
  </section>
  <footer>
    <p>
      <a href="" rel="author">Sophie I.</a> Copyright © <script>document.write(new Date().getFullYear());</script>. All Rights Reserved.
    </p>
  </footer>
  </body>
</html>
